@import "~src/app/common";

.admin-panel-container {
  width: 100%;
  height: 100%;

  .header-row {
    margin: auto;
    width: 95%;
    height: 10%;
    justify-content: space-between;

    .date-picker {
      width: 10%;
      margin-right: 5%;
    }

    .filter {
      width: 85%;
    }
  }

  .text-center {
    text-align: center;
  }

  .table-container {
    margin: auto;
    width: 95%;
    padding-bottom: 30px;
    max-height: 90%;

    table {
      width: 100%;
    }

    .mat-form-field {
      font-size: 18px;
      width: 100%;
    }

    .mat-column-internalNote {
      flex: 0 0 15% !important;
      width: 15% !important;
    }

    tr.mat-footer-row {
      font-weight: bold;
      background-color: ghostwhite;
    }

    .mat-table-sticky {
      border-top: 1px solid #e0e0e0;
    }

    .no-padding {
      padding: 0;
    }

    .line-height {
      line-height: 1rem;
      font-size: 0.8rem;
    }
  }

}