<div class="apartments-container">
  <div *ngIf="showSpinner" class="centered-spinner">
    <mat-spinner></mat-spinner>
  </div>
  <mat-accordion class="example-headers-align" *ngFor="let apartment of apartments; let i = index">
    <mat-expansion-panel [expanded]="step === i" (opened)="setStep(i)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{apartment.apartmentId}} {{getIdoSellName(apartment.idoSellKeyName)}}
        </mat-panel-title>
        <mat-panel-description>
          <div>
            {{apartment.name}}
          </div>
          <div *ngIf="apartment.lock.lockService !== 'RemoteLock'; else describeRemoteLock">

            <div class="icon-list" *ngIf="apartment | beenhere  | withLoading | async as obs" (click)="openRecordTableDialog($event, apartment)">
              <ng-template [ngIf]="!obs.loading">
                <mat-icon [matTooltip]="obs.value?.serviceNotification ? 'Sprzątaczka była w apartamencie' : 'Sprzątaczka nie była w apartamencie'" [class.green]="obs.value?.serviceNotification">beenhere</mat-icon>
                <mat-icon [matTooltip]="obs.value?.guestNotification ? 'Gość się zakwaterował' : 'Gość się nie zakwaterował'" [class.black]="obs.value?.guestNotification">local_hotel</mat-icon>
              </ng-template>
              <ng-template [ngIf]="obs.loading">
                <div>Pobieranie...</div>
              </ng-template>
            </div>

          </div>
          <ng-template #describeRemoteLock>
            RemoteLock
          </ng-template>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div class="row">
        <div class="half">
          <p class="mat-form-row-label">Apartament: </p>
          <div>
            <mat-form-field>
              <input matInput type="number" min="1" placeholder="Id" [(ngModel)]="apartment.apartmentId" required>
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="Nazwa" [(ngModel)]="apartment.name" required>
            </mat-form-field>

            <mat-form-field>
              <mat-select placeholder="IdoSell" [(ngModel)]="apartment.idoSellKeyName" required>
                <mat-option *ngFor="let idoSellKeyName of idoSellKeyNameList" [value]="idoSellKeyName.id">{{ idoSellKeyName.name }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="half">
          <p class="mat-form-row-label">Zamek: </p>
          <div *ngIf="apartment.lock !== undefined">
            <mat-form-field>
              <input matInput placeholder="Id" [(ngModel)]="apartment.lock.id" required>
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="Nazwa" [(ngModel)]="apartment.lock.name" required>
            </mat-form-field>

            <mat-form-field>
              <mat-select placeholder="Serwis" [(ngModel)]="apartment.lock.lockService" required
                          [compareWith]="compareService">
                <mat-option *ngFor="let service of services" [value]="service.id">{{ service.name }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>

      <div *ngIf="apartment.notes !== undefined" class="row">
        <div class="half">
          <p class="mat-form-row-label">Notatka po polsku: </p>
          <div class="mat-form-row" *ngIf="apartment.notes.polNote !== undefined">
            <mat-form-field class="mat-form-field-long">
              <textarea matInput placeholder="Treść" [(ngModel)]="apartment.notes.polNote.content"></textarea>
            </mat-form-field>
          </div>
        </div>
        <div class="half">
          <p class="mat-form-row-label">Notatka po angielsku: </p>
          <div class="mat-form-row" *ngIf="apartment.notes.engNote !== undefined">
            <mat-form-field class="mat-form-field-long">
              <textarea matInput placeholder="Treść" [(ngModel)]="apartment.notes.engNote.content"></textarea>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="half">
        <p class="mat-form-row-label">Znaczniki obsługi apartamentu: <mat-icon class="mat-icon-small" matTooltip="Słowa kluczowe służące do przeszukiwania historii zamków">help</mat-icon></p>
        <mat-form-field>
          <mat-chip-list #chipList aria-label="Tags selection">
            <mat-chip *ngFor="let tag of apartment.cleanersPasscodes"
                    [removable]="removable" (removed)="remove(tag, apartments[i])">
              {{tag}}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input placeholder="Kod dostępu, bądź użytkownik sprzątaczki"
                  [matChipInputFor]="chipList"
                  [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                  [matChipInputAddOnBlur]="addOnBlur"
                  (matChipInputTokenEnd)="add($event, apartments[i])">
          </mat-chip-list>
        </mat-form-field>
      </div>

      <mat-action-row>
        <button mat-button color="accent" (click)="updateApartment(i, apartment.id)">Zapisz edycję</button>
        <button mat-button color="primary" (click)="nextApartment()">Następny</button>
        <button mat-button color="warn" (click)="deleteApartment(apartment.id)">Usuń</button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion class="example-headers-align" *ngIf="newApartment !== undefined && !showSpinner">
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Id
        </mat-panel-title>
        <mat-panel-description>
          Dodaj nowy apartament
          <mat-icon>add</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div class="row">
        <div class="half">
          <p class="mat-form-row-label">Apartament: </p>
          <div>
            <mat-form-field>
              <input matInput type="number" min="1" placeholder="Id" [(ngModel)]="newApartment.apartmentId" required>
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="Nazwa" [(ngModel)]="newApartment.name" required>
            </mat-form-field>

            <mat-form-field>
              <mat-select placeholder="IdoSell" [(ngModel)]="newApartment.idoSellKeyName" required>
                <mat-option *ngFor="let idoSellKeyName of idoSellKeyNameList" [value]="idoSellKeyName.id">{{ idoSellKeyName.name }}</mat-option>
              </mat-select>
            </mat-form-field>

          </div>
        </div>
        <div class="half">
          <p class="mat-form-row-label">Zamek: </p>
          <div *ngIf="newApartment.lock !== undefined">
            <mat-form-field>
              <input matInput placeholder="Id" [(ngModel)]="newApartment.lock.id" required>
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="Nazwa" [(ngModel)]="newApartment.lock.name" required>
            </mat-form-field>

            <mat-form-field>
              <mat-select placeholder="Serwis" [(ngModel)]="newApartment.lock.lockService" required
                          [compareWith]="compareService">
                <mat-option *ngFor="let service of services" [value]="service.id">{{ service.name }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>

      <div *ngIf="newApartment.notes !== undefined" class="row">
        <div class="half">
          <p class="mat-form-row-label">Notatka po polsku: </p>
          <div class="mat-form-row" *ngIf="newApartment.notes.polNote !== undefined">
            <mat-form-field class="mat-form-field-long">
              <textarea matInput placeholder="Treść" [(ngModel)]="newApartment.notes.polNote.content"></textarea>
            </mat-form-field>
          </div>
        </div>
        <div class="half">
          <p class="mat-form-row-label">Notatka po angielsku: </p>
          <div class="mat-form-row" *ngIf="newApartment.notes.engNote !== undefined">
            <mat-form-field class="mat-form-field-long">
              <textarea matInput placeholder="Treść" [(ngModel)]="newApartment.notes.engNote.content"></textarea>
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="half">
        <p class="mat-form-row-label">Znaczniki obsługi apartamentu: <mat-icon class="mat-icon-small" matTooltip="Słowa kluczowe służące do przeszukiwania historii zamków">help</mat-icon></p>
        <mat-form-field>
          <mat-chip-list #chipList aria-label="Tags selection">
            <mat-chip *ngFor="let tag of newApartment.cleanersPasscodes"
                    [removable]="removable" (removed)="remove(tag, newApartment)">
              {{tag}}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input placeholder="Kod dostępu, bądź użytkownik sprzątaczki"
                  [matChipInputFor]="chipList"
                  [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                  [matChipInputAddOnBlur]="addOnBlur"
                  (matChipInputTokenEnd)="add($event, newApartment)">
          </mat-chip-list>
        </mat-form-field>
      </div>

      <mat-action-row>
        <button mat-button color="primary" (click)="createApartment()">Dodaj</button>
        <button mat-button color="warn" (click)="clearNewApartment()">Wyczyść</button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
</div>
