<div class="admin-panel-container">
  <div class="header-row">
    <mat-form-field class="date-picker">
      <input matInput [matDatepicker]="picker" [(ngModel)]="selectedDate" (dateChange)="reloadReservations()"
             placeholder="Wybierz datę">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker touchUi #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="filter">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>

  <div *ngIf="showSpinner" class="centered-spinner">
    <mat-spinner></mat-spinner>
  </div>

  <div class="table-container" [hidden]="reservations.length <= 0">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort matSortActive="endDate" matSortDirection="asc" matSortDisableClear>
      <ng-container matColumnDef="reservationId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Id rezerwacji</th>
        <td mat-cell *matCellDef="let element"> {{element.reservationId}} </td>
        <td mat-footer-cell *matFooterCellDef> Podsumowanie</td>
      </ng-container>

      <ng-container matColumnDef="reservationIdCustom">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Idosell klucz</th>
        <td mat-cell *matCellDef="let element"> {{element.reservationIdCustom}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="startDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Data przyjazdu</th>
        <td mat-cell *matCellDef="let element"> {{element.startDate | dateFormat}}
          <br> {{element.startDate | timeFormat}}
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="endDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Data wyjazdu</th>
        <td mat-cell *matCellDef="let element"> {{element.endDate | dateFormat}} <br> {{element.endDate | timeFormat}}
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="daysNumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Ilość dni</th>
        <td mat-cell *matCellDef="let element" class="text-center"> {{element.daysNumber}} </td>
        <td mat-footer-cell *matFooterCellDef> {{getTotalDaysNumber()}} </td>
      </ng-container>

      <ng-container matColumnDef="guestsNumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Liczba gości</th>
        <td mat-cell *matCellDef="let element" class="text-center"> {{element.guestsNumber}} </td>
        <td mat-footer-cell *matFooterCellDef> {{getTotalGuests()}} </td>
      </ng-container>

      <ng-container matColumnDef="lockName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nazwa zamka</th>
        <td mat-cell *matCellDef="let element" class="text-center"> {{element.lockName}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="passcodeStatus">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status kodu</th>
        <td mat-cell *matCellDef="let element">
          <div [ngSwitch]="element.passcodeStatus">
            <button class="no-padding line-height" mat-button *ngSwitchCase="passcodeStatuses.SENT" color="primary">Wysłany</button>
            <button class="no-padding line-height" mat-button *ngSwitchCase="passcodeStatuses.NO_CODE_FROM_IDOSELL" color="accent">
              Brak kodu<br>z IdoSell
            </button>
            <button class="no-padding line-height" mat-button *ngSwitchCase="passcodeStatuses.GUEST_WITHOUT_ACCESS" color="accent">
              Utworzony gość<br>bez dostępów
            </button>
            <button class="no-padding line-height" mat-button *ngSwitchCase="passcodeStatuses.NOT_SENT" color="warn">Niewysłany
            </button>
            <button class="no-padding line-height" mat-button *ngSwitchDefault color="warn">Brak<br>danych</button>
          </div>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="noteStatus">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status notatki</th>
        <td mat-cell *matCellDef="let element">
          <div [ngSwitch]="element.noteStatus">
            <button class="no-padding line-height" mat-button *ngSwitchCase="noteStatuses.SENT" color="primary">Wysłana</button>
            <button class="no-padding line-height" mat-button *ngSwitchCase="noteStatuses.NOT_SENT" color="warn">Niewysłana
            </button>
            <button class="no-padding line-height" mat-button *ngSwitchDefault color="warn">Brak<br>danych</button>
          </div>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="clientName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Gość</th>
        <td mat-cell *matCellDef="let element"> {{element.clientName}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Cena</th>
        <td mat-cell *matCellDef="let element"> {{element.price.toFixed(2) | amountWithComma}} </td>
        <td mat-footer-cell *matFooterCellDef> {{getTotalPrice() | amountWithComma}} </td>
      </ng-container>

      <ng-container matColumnDef="receipt">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Paragon</th>
        <td mat-cell *matCellDef="let element">
          <input matInput placeholder="Paragon" [(ngModel)]="element.receipt" required>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="internalNote">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Notatka do rezerwacji</th>
        <td mat-cell *matCellDef="let element"> {{element.internalNote}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="note">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Notatka</th>
        <td mat-cell *matCellDef="let element">
          <textarea matInput placeholder="Notatka" [(ngModel)]="element.note" required></textarea>
        </td>
        <td mat-footer-cell *matFooterCellDef>
          <button mat-button color="primary" (click)="saveChanges()">Zapisz zmiany</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
    </table>
  </div>
</div>
